{% extends 'base.html' %}
{% block content %}
<h1>Create Account</h1>
      <div>
        <form method="post">
          {% csrf_token %} {{form.as_p}}
          <button>Create</button>
        </form>
      </div>
{% endblock content %}