{% extends 'base.html' %} 
{% block content %}
<div>
  <form method="post">
    <h1>Signup</h1>
    {% csrf_token %} {{ form.as_p }}
    <button>Signup</button>
  </form>
</div>
{% endblock content %}
