{% extends 'base.html' %}
{% block content %}
{% block title%}
<h1>Create Receipt</h1>
{% endblock title%}
<div>
  <form method="post">
    {% csrf_token %} {{form.as_p}}
    <button>Create</button>
  </form>
</div>
{% endblock content %}